.InputSelect{
    font-size: 0.9rem;

    .selects{
        margin: 5px 0px;
        width: 100%;
        padding: 15px;
        border: 1px solid #888;
        border-radius: 2px;
        background-color: transparent;
    }

}

