.InputRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inputs{
        font-size: 0.9rem;
        padding: 15px;
        margin: 3px 0px 5px 0px; 
        border-radius: 2px;
        border: 1px solid #888;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .labels{
        font-size: 0.9rem;
    }
    .errmsg{
        font-size: 0.8rem;
        padding-bottom: 5px;
        color: red;
        display: none;
    }

    input:invalid[focused="true"]{
        border: 1px solid red;
    }
    
    input:invalid[focused="true"] ~ span {
        display: inline-block;
    }

}





