.InputSelect{
   
    .selects{
        margin: 5px 0px;
        min-width: 0;
        display: block;
        width: 50%;
        padding: 8px 8px;
        font-size: inherit;
        line-height: inherit;
        border: 1px solid;
        border-radius: 4px;
        color: inherit;
        background-color: transparent;

        &:focus {
            border-color: red;
        }
    }
}