.InputRegister{
    display: flex;
    flex-direction: column;

    .title {
        margin-bottom: 2px;
    }

    input {
        width: 400px;
        height: 40px;
        border-radius: 8px;
        border: 1px solid #EAEAEA;
        padding: 0 10px;
    }

}