.InputPost {
    
    margin : 10px 5px;
    .title {
        display: inline-block;
        margin:10px 0 5px 0;
    }
    input {
        border-radius: 8px;
        border: 1px solid gray;
        background-color: beige;
        width: 50vw;
        height: 30px;

        &.short {
            width: 20vw;
        }
    }
    
}