@import '../../styles/properties';

.Card {
    position: relative;
    border: 2px solid $main-color-3;
    padding: 0 24px;
    margin: 20px;
    width: 350px;
    height: 450px;

    text-align: center;
    cursor: pointer;

    .PostImg {
        position: relative;
        min-width: 300px;
        min-height: 250px;

        img {
            max-width: 300px;
            max-height: 250px;
        }
        
    }

    .Title {
        font-size: 1.3em;
        font-weight: 600;
        text-align: center;
        margin: 5px 0;
        //제목이 아랫줄로 넘갈때 hidden처리
        display : -webkit-box;
        -webkit-line-clamp : 1;
        -webkit-box-orient: vertical; 
        overflow : hidden;
    }

    .Date {
        position: relative;
        top: 10px;
        padding-top: 5px;
        border-top: 1px solid gray;
    }
}
.topInfo {
    position: relative;
    margin-top: 10px;
    justify-content: space-between;

    .RecruitingBtn {
        // position: absolute;
        // left: 20px;
        margin-left: 10px;
    }
    .place {
        margin-right: 10px;
    }
}
.bottomInfo {
    position: relative;
    margin-top: 5px;
    justify-content: space-around;
    .NumPeople {
        left: 20px;
    }
}