@import '../../styles/properties';

.Card {
    position: relative;
    border: 2px solid $main-color-3;
    padding: 0 24px;
    margin: 20px;
    width: 350px;
    height: 450px;

    text-align: center;
    cursor: pointer;

    .PostImg {
        position: relative;
        min-width: 300px;
        min-height: 250px;

        img {
            max-width: 300px;
            max-height: 250px;
        }
        
    }

    .Title {
        font-size: 1.5em;
        margin: 10px 0;

    }

    .Date {
        position: relative;
        top: 20px;
        padding-top: 5px;
        border-top: 1px solid gray;
    }
}
.topInfo {
    position: relative;
    margin-top: 10px;
    // justify-content: space-around;
    .RecruitingBtn {
        // position: absolute;
        // left: 20px;
        margin-right: 100px;
        margin-left: 10px;
        
    }
}
.bottomInfo {
    position: relative;
    margin-top: 10px;
    justify-content: space-around;
    .NumPeople {
        left: 20px;
    }
}