@import '../../styles/properties';
.MainInfo {
    width: 500px;
    height: 400px;
    border: 5px solid $main-color-3;
    text-align: center;
    .Title {
        font-size: 30px;
        height: 80px;
        text-align: center;
        line-height: 80px;
    }
    .CompoWrap_flex {
        justify-content: space-around;
        .RecruitingBtn {
            margin: 10px 20px;
            
        }
        .Amount {
            display: flex;
            align-items: center;
            font-size: 18px;
        }
        .NumPeople {
            font-size: 20px;
            margin: 5px 0;
        }
        .PerPayment{
            span{
                font-size: 22px;
                margin: 5px 0;
            }
            
        }
        &.ReadBtn {
            position: relative;
            top: 70px;
        }
        .TowBtnFlex {
            display: flex;
        }
    }
}

