@import '../../styles/properties';

.postListBtnWrap {
    margin: 20px;
}
.PostList {
    padding: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    // border: 1px solid red;
    .CompoWrap_flex{
        display: flex;
        flex-wrap: wrap;
    }
    .cardWrap {
        margin-top: 20px;
        min-width: 350px;
        height: 450px;
        flex: 1 1 1 1 20%;

        .LikeBtn{
            position: relative;
            bottom: 70px;
            left: 310px;
            z-index: 999;
            width: 40px;
        }
    }
}
