@import '../../styles/properties';

.PostView {
    padding-top: 50px;
    // display: flex;
    // justify-content: center;
    align-items: center;    
    .flexWrap {
        justify-content: center;
    }
    .MainInfo {
        min-width: 500px;
    }
    .PostImg {
        min-width: 500px;
        height: 400px;
        img {
            max-width: 500px;
            max-height: 400px;
        }
    }
    .postViewWrap {
        width: 1000px;
        height: auto;
        // border: 1px solid $main-color-2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}