.PostForm {
    p {
        color: balck;
        span {
            font-size: 16px;
        }
    }
    input {
        padding: 0 10px;
    }
    textarea {
        padding: 10px 10px;
    }
    .payment {
        display: flex;
        align-items: center;
        font-weight: 700;
        padding-top: 30px;
        padding-left: 10px;
    }
}
