<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>

<body>
    <script>
        console.log( window );
        const {IMP} = window;
        console.log(IMP);
        IMP.init('imp42661587');
    
        IMP.request_pay({ 
            pg: "kakao",
            pay_method: "card",
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: "맥북 프로 16인치",
            amount: 2500000,
            buyer_email: "test@gmail.com",
            buyer_name: "tester",
            buyer_tel: "010-4242-4242",
            buyer_addr: "서울특별시 강남구 신사동",
            buyer_postcode: "01181",
            m_redirect_url : 'https://example.com/mobile/complete',
            digital: true,
            app_scheme : ''
            }, function (rsp) { 
                if (rsp.success) {  
                    jQuery.ajax({
                        url: "https:/localhost:8080/api/payments/complete",
                        method: "POST",
                        headers: { "Content-Type": "application/json" },
                        data: {
                        imp_uid: rsp.imp_uid,
                        merchant_uid: rsp.merchant_uid
                    }
                }).done(function(data) { 
                switch(data.status) {
                case "vbankIssued":
                    break;  
                case "success":
                    break;
                }
            });
            } else {
                alert("결제에 실패하였습니다. 에러 내용: " + rsp.error_msg);
                }   
            });

    </script>


</body>
</html>