<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IamPort결제데모</title>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>

<body>
    <h2>아임포트 결제 데모</h2>
    <!-- <li>
        <button id="IMPpayment" type="button">결제테스트</button>
    </li> -->
    <script>
        console.log( window );
        const {IMP} = window;
        console.log(IMP);
        IMP.init('imp42661587');
    
        IMP.request_pay({ 
            pg: "kakaopay.TC0ONETIME",
            pay_method: "card",
            merchant_uid: 'merchant_' + new Date().getTime(),
            name: "귤2kg",
            amount: 2000,
            buyer_email: "test@gmail.com",
            buyer_name: "tester",
            buyer_tel: "010-4242-4242",
            m_redirect_url : 'https://example.com/mobile/complete',
            digital: true,
            app_scheme : ''
            }, function (rsp) { 
                console.log( rsp );
                if (rsp.success) {  
                    // let { merchant_uid, name, paid_amount, buyer_name } = rsp;
                    // axios({
                    //     method: 'post',
                    //     url: 'http://localhost:8080/api/payments/complete',
                    //     data: {
                    //         merchant_uid, name, amount, buyer_name 
                    //     }
                    // }).then((result) => {
                    //     console.log( "result : ", result );
                    // });

                    var msg = '결제 완료!';
                    alert(msg);
                    // 규리쌤 코드
                    var form = document.getElementById("form_result");
                    form.merchant_uid.value = rsp.merchant_uid;
                    form.buyer_name.value = rsp.buyer_name;
                    form.name.value = rsp.name;
                    form.amount.value = rsp.amount;
                    form.submit();
                    window.location.href = "http://localhost:8080/api/payments/complete";
                    // 이렇게 치면 근데 get경로인지 post 경로인지 어떻게 알지?
                }
                else {
                    var msg = '결제 실패';
                    msg += '에러 내용: ' + rsp.error_msg;
                    alert(msg); 
                }
            });

    </script>

    <!-- 규리쌤 코드 -->
    <form id="form_result" method="POST" action="/api/payments/complete">
        <input type="hidden" name="merchant_uid">
        <input type="hidden" name="buyer_name">
        <input type="hidden" name="name">
        <input type="hidden" name="amount">
    </form>

</body>
</html>

