.btns{
    display: flex;
    gap: 10px;
    justify-content: center;

    .btn2{
        width: 50%;
        height: 50px;
        border: none;
        background: $main-color-2;
        color: darkslategray;
        border-radius: 2px;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        margin: 15px 0;
        &:hover {
            letter-spacing: 2px;
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}
