@import '../../styles/properties';
// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");


.Mypage{

    .title{
        font-size: 2rem;
        font-weight: bold;
        padding: 20px;
        text-align: center;
    }

    .city{
        font-size: 1rem;
        text-align: center;
    }

    .nickname{
        font-weight: 700;
        font-size: 1.3rem;
        text-align: center;
    }

    .btns{
        padding: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .btn{
            text-align: center;
            width: 10%;
            height: 50px;
            padding: 10px;
            margin: 20px;
            border: none;
            background: $main-color-2;
            color: darkslategray;
            border-radius: 2px;
            font-weight: lighter;
            font-size: 1rem;
            cursor: pointer;
            &:hover {
                letter-spacing: 2px;
                transform: scale(1.2);
                cursor: pointer;
            }
    
        }
        

    }
    .cardWrap {
        padding: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .card {
            margin: 0 20px;
            
        }
    }

}