@import '../../styles/properties';
.ResetPw{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        // background-color: rgba(255, 255, 255, 0.9);
        padding: 50px 60px;
        width: 500px;
        border: 1px solid #ccc;
        box-shadow: 3px 3px 3px #888;

        .resetpwTitle{
            font-size: 1.5rem;
            text-align: center;
            font-weight: lighter;
            margin-bottom: 20px;
        }

        .labels{
            font-size: 0.8rem;
        }

        .inputs{
            padding: 15px;
            margin: 5px 0px;
            border-radius: 2px;
            border: 1px solid #888;
            background-color: rgba(255, 255, 255, 0.1);
        }

    
        .success{
            width: 100%;
            font-size: 0.9rem;
            text-align: center;
            color: green;
          }
    
        .error{
            width: 100%;
            font-size: 0.9rem;
            text-align: center;
            color: orangered;
        }


        .btns{
            display: flex;
            gap: 10px;
            justify-content: center;

            .btn2{
                width: 50%;
                height: 50px;
                border: none;
                background: $main-color-2;
                color: darkslategray;
                border-radius: 2px;
                font-weight: bold;
                font-size: 1rem;
                cursor: pointer;
                margin: 15px 0;
                &:hover {
                  letter-spacing: 2px;
                  transform: scale(1.1);
                  cursor: pointer;
                }
              }
          }

    }


}