@import '../../styles/properties';

.RegisterForm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 100px);
    // height: 100%;
    position: absolute;

    
    form{
        border: 1px solid #ccc;
        padding: 40px 50px;
        margin: 10px 0;
        box-shadow: 3px 3px 3px #888;
      
      .registerTitle{
        font-size: 1.5rem;
        text-align: center;
        font-weight: lighter;
      }

      .sign_checking{
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: green;
      }

      .sign_warning{
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: orangered;
      }
      
      .btn{
        width: 100%;
        height: 50px;
        padding: 10px;
        border: none;
        background: $main-color-2;
        color: darkslategray;
        border-radius: 2px;
        font-weight: bold;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 15px;
        margin-bottom: 30px;
        &:hover {
          letter-spacing: 2px;
          transform: scale(1.2);
          cursor: pointer;
        }
      }

      .loginText{
        text-align: right;

        .links{
          font-size: 0.9rem;
          text-decoration:none;
          color: #888;
          
          &:focus, &:hover, &:visited, &:link, &:active {
            text-decoration: none;
          }
        }
      }
      
    }

    @media (max-width: 500px) {
      form{
        padding: 20px 30px;
      }
  }
}