@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

// $DH: "Do Hyeon", sans-serif;

body {
    position:relative;
    margin : 0;
    overflow-x:hidden;
    overflow-y:hidden;
  }
  
  
  .section-common {
    width : 100vw;
    height : 100vh;
    display:flex;
    justify-content : center;
    align-items:center;
    font-size:36px;
    background-size: cover;
    background-repeat: no-repeat;
    color: #f7f1e9;
    font-family: "Gowun Dodum";
  }
  

  .con {
    padding-top: 15%;
    padding-left: 5%;

  }
  .section-area1 {
    background-image : url("../images/apple.jpg");
    // background: rgb(255,150,113);
    // background: linear-gradient(180deg, rgba(255,150,113,1) 35%, rgba(127,214,0,1) 100%);
    position: relative;
    z-index: 1;
    // opacity: 0.6;
  }
  .section-area2 {
    background-image : url("../images/jujube.jpg");
    position: relative;
    z-index: 1;
    // opacity: 0.6;
  }
  .section-area3 {
    background-image : url("../images/persimmon.jpg");
    position: relative;
    z-index: 1;
    // opacity: 0.6;
  }

  // .section-area1::after{
  //   width: 100vw;
  //   height: 100vw;
  //   content: "";
  //   background-image : url("../images/apple.jpg");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  //   opacity: 0.7;
  // }
  // .section-area2::after{
  //   width: 100vw;
  //   height: 100vw;
  //   content: "";
  //   background-image : url("../images/jujube.jpg");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  //   opacity: 0.7;
  // }
  // .section-area3::after{
  //   width: 100vw;
  //   height: 100vw;
  //   content: "";
  //   background-image : url("../images/persimmon.jpg");
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  //   opacity: 0.7;
  // }




  .slide-navigation button:nth-child(1) {
    display: none;
  }
  .slide-navigation button:nth-last-child(1) {
    display: none;
  }
  
  .slide-navigation button {
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    width: 5px;
    height: 15px;
    margin: 0 5px;
    font-size: 0px;
    cursor: pointer;
  }
  
  .slide-navigation {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0px;
  }
  
  .slide-navigation button:disabled {
    background-color: black;
    border: 1px solid white;
  }