@import './properties';

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
    // height: calc(100vh - 100px);
    
    form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 20px 0;
        padding: 40px 50px;
        width: 500px;
        border: 1px solid #ccc;
        box-shadow: 3px 3px 3px #888;

        .Title{
            font-size: 1.5rem;
            text-align: center;
            font-weight: lighter;
        }

        label{
            font-size: 0.9rem;
        }

        input{
            padding: 15px;
            margin: 5px 0px;
            border-radius: 2px;
            border: 1px solid #888;
            background-color: rgba(255, 255, 255, 0.1);
        }

        .success{
            width: 100%;
            font-size: 0.9rem;
            text-align: center;
            color: green;
            font-weight: bold;
            margin: 0px 2px;
        }
    
        .error{
            width: 100%;
            font-size: 0.9rem;
            text-align: center;
            color: orangered;
            font-weight: bold;
            margin: 0px 2px;

        }

        .btns{
            display: flex;
            gap: 15px;
            justify-content: center;
        
            button{
                width: 50%;
                height: 50px;
                border: none;
                background: $main-color-2;
                color: darkslategray;
                border-radius: 2px;
                font-weight: bold;
                font-size: 1rem;
                cursor: pointer;
                margin: 15px 0;
                &:hover {
                    letter-spacing: 2px;
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }

    }
}